@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  @apply w-[5px];
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

::-webkit-scrollbar-track {
  @apply bg-gray-400;
}

.editScroll::-webkit-scrollbar {
  @apply w-[3px];
  direction: ltr;
}

.coins::-webkit-scrollbar {
  @apply w-[2px];
}

.editScroll {
  direction: rtl;
}
.editScroll div {
  direction: ltr;
}

.editScroll::-webkit-scrollbar-thumb {
  @apply bg-primary max-h-[156px];
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nimbus";
  font-weight: 400;
  src: url("../fonts/nimbus-sans-l_regular.otf") format("opentype");
}
@font-face {
  font-family: "nimbus";
  font-weight: 700;
  src: url("../fonts/nimbus-sans-l_bold.otf") format("opentype");
}
@font-face {
  font-family: "nimbus";
  font-weight: 600;
  src: url("../fonts/nimbus-sans-l_regular-condensed.otf") format("opentype");
}

body {
  @apply relative;
}

.small::-webkit-scrollbar {
  @apply w-[2px];
}

.no-scroll {
  overflow: hidden;
}
